@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Inter, sans-serif;
  background: #161616;
}

.header-bg {
  background-color: linear-gradient(111deg, rgba(197.97, 197.97, 197.97, 0) 0%, rgba(17, 22, 31, 0.27) 100%);
  border-radius: 8px;
  border: 0.80px rgba(255, 255, 255, 0.30) solid;
  backdrop-filter: blur(40px);
}

.primary-btn {
  background: linear-gradient(90deg, #00BAA9 0%, rgba(0, 0, 0, 0.25) 100%);
  border-radius: 8px;
  border: 0.80px solid rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(40px);
  transition: all ease-in-out .2s;
}

.primary-btn:hover {
  background: transparent;
}

.sec-two-card1 {
  background: linear-gradient(133deg, rgba(217, 217, 217, 0.03) 0%, rgba(45.33, 139.68, 255, 0.09) 100%);
  border: 0.80px solid rgba(45.33, 139.68, 255, 0.30);
  backdrop-filter: blur(40px);
}

.sec-two-card2 {
  background: linear-gradient(133deg, rgba(217, 217, 217, 0.03) 0%, rgba(45.33, 139.68, 255, 0.09) 100%);
  border: 0.80px rgba(45.33, 255, 230.54, 0.30) solid;
  backdrop-filter: blur(40px);
}

.sec-two-card3 {
  background: linear-gradient(133deg, rgba(217, 217, 217, 0.03) 0%, rgba(45.33, 139.68, 255, 0.09) 100%);
  border: 0.80px rgba(90.76, 45.33, 255, 0.30) solid;
  backdrop-filter: blur(40px);
}

.sec-three-table-bg {
  background: linear-gradient(0deg, rgba(57, 97, 93, 1) 93%, rgba(0, 0, 0, 1) 100%);
}

.sec-three-table-tr {
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.05) 0%, rgba(0, 0, 0, 0.41) 100%);
}

.sec-four-card-bg {
  background: linear-gradient(133deg, rgba(217, 217, 217, 0.03) 0%, rgba(45.33, 139.68, 255, 0.09) 100%);
  border-radius: 19px;
  border: 0.80px rgba(153, 153, 153, 0.30) solid;
  backdrop-filter: blur(40px)
}

.sec-five-icon {
  background: linear-gradient(133deg, rgba(217, 217, 217, 0.03) 0%, rgba(0, 186, 169, 0.03) 100%);
  border-radius: 19px;
  border: 0.80px rgba(45.33, 255, 230.54, 0.30) solid;
  backdrop-filter: blur(40px);
}

.sec-six-card-bg {
  background: linear-gradient(217deg, rgba(217, 217, 217, 0.03) 0%, rgba(45.33, 255, 230.54, 0.15) 100%);
  border-radius: 19px;
  border: 0.80px rgba(45.33, 255, 230.54, 0.30) solid;
  backdrop-filter: blur(40px);
}

.sec-nine-card {
  background: linear-gradient(263deg, rgba(217, 217, 217, 0.03) 0%, rgba(0, 0, 0, 0.25) 100%);
  border-radius: 8px;
  border: 0.80px solid rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(40px);
}

.accordion-bg {
  background: linear-gradient(133deg, rgba(217, 217, 217, 0.03) 0%, rgba(45.33, 139.68, 255, 0.09) 100%);
  backdrop-filter: blur(40px);
}

.accordion-border {
  border: 0.80px rgba(45.33, 255, 230.54, 0.30) solid;
}

.sec-eleven-card-one {
  background: linear-gradient(133deg, rgba(0, 186, 169, 0.35) 0%, rgba(0, 0, 0, 0.25) 51%);
  border-radius: 19px;
  border: 0.80px rgba(45.33, 255, 230.54, 0.30) solid;
  backdrop-filter: blur(40px);
}

.sec-eleven-card-two {
  background: linear-gradient(133deg, rgba(45.33, 139.68, 255, 0.44) 0%, rgba(0, 0, 0, 0.25) 60%);
  border-radius: 19px;
  border: 0.80px rgba(45.33, 139.68, 255, 0.30) solid;
  backdrop-filter: blur(40px);
}

.sec-eleven-card-three {
  background: linear-gradient(133deg, rgba(91, 45, 255, 0.44) 0%, rgba(0, 0, 0, 0.25) 55%);
  border-radius: 19px;
  border: 0.80px rgba(45.33, 139.68, 255, 0.30) solid;
  backdrop-filter: blur(40px);
}

.sec-tweleve-card {
  background: linear-gradient(136deg, rgba(217, 217, 217, 0) 0%, rgba(4, 4, 4, 0.09) 100%);
  border-radius: 10px;
  border: 1px rgba(153, 153, 153, 0.16) solid;
  backdrop-filter: blur(30px);
}